
#container {
    height: 180px;
    background-size: cover;
    background-position: center;
    animation: bgCycle 15s linear infinite;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#container section{
    background-color: transparent;
    position: absolute;
    padding: 0.2rem;
    width: fit-content;
    border: 2px solid bisque;
    border-radius: 10px;
    box-shadow: 0px 0px 5 px beige;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section h3{
    background-color: rgba(255, 255, 255, 0.753);
    border: 2px solid bisque;
    border-radius: 10px;
    padding: 1.75rem;
    width: fit-content;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

@keyframes bgCycle {
    0% {
        background-image: url("../assets/day.jpg");
    }
    33% {
        background-image: url("../assets/evening.jpg");
        color: coral;
    }
    66% {
        background-image: url("../assets/night.jpg");
        color: rgb(144, 0, 255);
    }
    100% {
        background-image: url("../assets/day.jpg");
    }
}

#ball{
    
    position: relative;
    width: 100%;
}

#ball img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 5px white;
    will-change: transform;
}




@media (max-width: 600px) {
    #ball img{
        max-width: 40px;
        max-height: 40px;
    }

    section h3{
        padding: 1rem;
        font-size: 1rem;
    }
}